body {
	opacity: 0;
	background-color: #f6f6f6;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}

h1 {
	font-weight: normal;
	font-size: 36pt;
	font-family: Helvetica, sans-serif;
	text-align: center;
	padding-bottom: 50px;
}

.infoTable {
	width: 100%;
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid gray;
	padding: 1px;
	text-align: center;
	opacity: 0.5;
;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

#about {
	background-image: src("http://i.imgur.com/maZdiAl.jpg");
}