body {
	opacity: 0;
	background-color: #f6f6f6;

}

h1 {
	font-weight: normal;
	font-size: 36pt;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

div {
	height: 200px;
	width: 200px;
	background-color: black;
	border: 5px solid gray;
	display: table;
}